# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
ordered list
1. Python
2. R Language
3. SQL

Some of the commonly used libraries used by Data Scientists include:
ordered list
1. Pandas
2. Numpy
3. Matplotlib

|Data Science Tools|
--------------------
|Brackets|
|Visual Studio Code|
|Git|

### Below are a few examples of evaluating arithmetic expressions in Python

In [20]:
#This a simple arithmetic expression to mutiply then add integers
x=3
y=4
z=5
a=x*y
b=a+z
print(b)

17

# convert minutes to hours

In [27]:
#This will convert 200 minutes to hours by diving by 60.
number_of_minutes=200
number_of_Hours=200/60
print("number of Hours = ",number_of_Hours,"Hours")

number of Hours =  3.3333333333333335 Hours

**Objectives:**
* Python
* Numpy
* Jupiter notebook
* Jupiter Lab
* Pandas

# Author
Ahmad